* {
    font-family: Gilroy;
    font-weight: 300;
    background-size: cover;
    font-style: normal;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}

:root {
    --color-a: #2E2E43;
    --color-w: #fff;
    --main: #0078A8;;
}

.svg-color-root {
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
    -o-transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    cursor: pointer;
}

h1 {
    font-size: 57px;
    line-height: 116.18%;
    color: var(--color-w);
    font-weight: 700;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

a.link:hover {
    color: #078AEC;
}

a.link:active {
    color: #035FA5
}

ol, ul {
    list-style-type: none;
}

.container {
    position: relative;
}

select {
    background: url(../icons/select.svg) right .75rem center no-repeat #1C3B69;
    font-size: 16px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #456493;
    padding: 14px 16px;
    color: var(--color-w);
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 116.18%;
    cursor: pointer;
}

select option {
    color: var(--color-w);
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #0475CA;
    border-radius: 3px;
    color: var(--color-w);
    padding: 16px 32px;
    display: inline-block;
}

.btn.disabled {
    pointer-events: none;
    opacity: .3;
    cursor: not-allowed;
}

.btn:hover, a.add:hover  {
    background-color: #078AEC;
}

.btn:active,a.add:active  {
    background-color: #035FA5;
}

.btn-reset {
    font-size: 16px;
    line-height: 116.18%;
    color: var(--color-w);
    position: relative;
}

.btn-reset:hover span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
}

.btn-reset span {
    margin-right: 5px;
}

a.add {
    width: 50px;
    height: 50px;
    background-color: #0475CA;
    display: inline-block;
    border-radius: 50%;
    color: var(--color-w);
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}

span.svg__icon {
    display: inline-block;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1);
    transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1);
    transition: transform .3s cubic-bezier(.165,.84,.44,1);
    transition: transform .3s cubic-bezier(.165,.84,.44,1),-webkit-transform .3s cubic-bezier(.165,.84,.44,1);
}

.form-checkbox {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    width: auto;
    overflow: visible;
}

.form-checkbox-label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    outline: none;
}

.form-checkbox-label span::selection {
    background: transparent;
 }

.form-checkbox-label:before {
    content: "";
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: inline-block;
    margin-right: 16px;
    vertical-align: text-top;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    background: #1C3B69;
    border-radius: 3px;
    border: 1px solid #456493;
}

.form-checkbox-label:after  {
    content: "";
    opacity: 0;
    transition: .3s;
    top: 2px;
    left: 3px;
    width: 16px;
    height: 17px;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    background-color: #1c3b69;
}

.form-checkbox:checked+.form-checkbox-label:after {
    content: "";
    opacity: 1;
    background-image: url(../icons/checkmark.svg);
}

.form-checkbox-label span {
    color: var(--color-w);
}

nav {
    background: rgba(255, 255, 255, 0.7);
    background: rgb(255 255 255);
    height: 88px;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    position: fixed;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

nav.out {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}

nav .nav__content .container:after {
    background: url(../icons/tricolor.svg) center no-repeat;
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    right: -100px;
}

nav .nav__content .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

nav .nav__content .container .nav__block{
    display: flex;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

nav .nav__content .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

nav .nav__content .nav__links li {
    margin-right: 65px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav .nav__content .nav__links li:last-child {
    margin-right: 0;
}

nav .nav__content .nav__links li a {
    font-weight: 500;
    font-size: 15px;
    color: #2E2E43;
}

nav .nav__content .nav__links li a:hover {
    color: #0475CA;
}

nav .nav__content .nav__tools a {
    font-weight: 500;
    font-size: 17px;
    color: #2E2E43;
}

.main__header {
    background-image: url(../img/bg.jpg);
    background-color: var(--color-w);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body.bg-grey {
    background-color: #F7F7F7;
}

body {
    background-color: #102D57;
}

.breadcrumbs ul {
    display: flex;
    flex-flow: row wrap;
}

.breadcrumbs ul li {
    position: relative;
}

.breadcrumbs ul li a,
.breadcrumbs ul li span {
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    color: var(--color-w);
}

.breadcrumbs ul li span {
    opacity: .5;
}

.breadcrumbs ul li a:hover {
    opacity: .5;
}

.breadcrumbs ul li:nth-last-child(1n+2):after {
    content: '';
    display: inline-block;
    position: relative;
    height: 5px;
    width: 5px;
    margin: 0 10px;
    background-color: var(--color-w);
    border-radius: 50%;
    top: -1px;
}

.main__header {
    width: 100%;
}


.main__header .container .title__row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 120px;
}

.main__header .title {
    width: 656px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}


.main__header .title h1 {
    color: var(--color-w);
    font-weight: 800;
    font-size: 95px;
    line-height: 116.18%;
}

.main__header .header__block {
    width: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.main__header .header__block p {
    color: var(--color-w);
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 25px;
}

.map {
    height: 860px;
    width: 100%;
    position: relative;
}
.inner__header {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.inner__header .services__header {
    background: rgba(0, 93, 163, 0.7);
    border-radius: 3px;
    padding: 31px 0; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner__header .services__header .item {
    margin: auto; 
    width: 50%;
}

.inner__header .services__header p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; 
    color: var(--color-w);
    text-align: center;
}

.demands {
    padding: 80px 0;
    background-color: #F7F7F7;
}

.demands {
    position: relative;
    overflow: hidden;
}

.demands span {
    position: absolute;
    display: flex;
    top: 0;
}

.demands span p {
    font-weight: 800;
    font-size: 594.866px;
    line-height: 116.18%;
    color: #f7f7f7;
    opacity: .8;
    -webkit-text-stroke: 2px  #005DA3;
    -webkit-text-fill-color: #f7f7f7;
    z-index: 0;
    margin: 0 50px; 
    cursor: default; 
}

.demands span p::selection {
    background-color: transparent;
}

.demands .demands__block {
    padding: 46px 60px;
    position: relative;
    width: 754px;
    background-color: var(--color-w);
    margin-left: auto;
    z-index: 90;
}

.demands .demands__block p {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 40px
}

.contacts .container  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.contacts .contacts__block {
    position: relative;
    background-color: var(--color-w);
    z-index: 999;
    padding: 40px 35px;
    border-radius: 3px;
    display: block;
}

.contacts .contacts__block .item {
    margin-bottom: 30px;
}

.contacts .contacts__block .item:last-child {
    margin-bottom: 0;
}

.contacts .contacts__block .item .title {
    font-weight: 600;
    font-size: 22.2039px;
    line-height: 31px;
    margin-bottom: 8px;
}

.contacts .contacts__block .item {
    font-size: 17.7631px;
    font-weight: 300;
}

.contacts .contacts__block .item .info__img{
    width: 100%;
    height: 200px;
    margin: 15px 0;
    background-size: cover;
    background-position: bottom;
}

.open__info.open span svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.open__info span svg.blue {
    width: 10px;
    margin-left: 5px;
    fill: var(--main);
    stroke: var(--main);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1);
    transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1);
    transition: transform .3s cubic-bezier(.165,.84,.44,1);
    transition: transform .3s cubic-bezier(.165,.84,.44,1),-webkit-transform .3s cubic-bezier(.165,.84,.44,1);
}

.work__content, .company {
    padding: 120px 0;
}

.work__content .work__title, .company .work__title {
    margin-top: 74px;
}

.work__filters .work__filter__row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.work__filter__row .filter__cell {
    width: 316.66px;
    margin-bottom: 30px;
}

.work__filters .work__filers__btn {
    text-align: end;
    margin-bottom: 32px;
}

.work__list__content {
    margin-top: 70px;
}

.work__list__content .work__list__sort {
    padding: 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.work__list__content .work__list__sort .sort__item p {
    color: var(--color-w);
    font-weight: 600;
    font-size: 14px;
    line-height: 116.18%;
    text-transform: uppercase;
}

.work__list__content .work__list__sort .sort__item:first-child,
.work__list .work__item .title {
    width: 594px;
}

.work__list__content .work__list__sort .sort__item:nth-child(2),
.work__list .work__item .sort__item:nth-child(2) {
    width: 308px;
}

.work__list__content .work__list__sort .sort__item:nth-child(3),
.work__list .work__item .sort__item:nth-child(3) {
    width: 295px;
}

.work__list {
    margin-top: 20px;
}

.work__list .work__item {
    padding: 25px 45px;
    background: #1C3B69;
    border-radius: 3px;
    width: 100%;
    display: block;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.work__list .work__item:last-child {
    margin-bottom: 0;
}

.work__list .work__item:hover {
    background: #0475CA;
    box-shadow: 0px 0px 15px rgba(0, 120, 214, 0.5);
}

.work__list .work__item:hover .sort__item p {
    opacity: 1;
}

.work__list .work__item .title h2 {
    color: var(--color-w);
    font-size: 20px;
    line-height: 116.18%;
    font-weight: 600;
}

.work__list .work__item .title p {
    font-weight: 300;
    font-size: 14px;
    line-height: 116.18%;
    color: var(--color-w);
    opacity: .5;
    margin-top: 3px;
}

.work__list .work__item .sort__item p {
    opacity: .5;
    color: var(--color-w);
    font-size: 20px;
    line-height: 116.18%;
    font-weight: 200;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.work__list .work__list__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.vacancy__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
}

.vacancy__row .vacancy__text {
    width: 890px;
}

.vacancy__row .vacancy__section {
    margin-bottom: 50px;
}

.vacancy__row .vacancy__section:last-child {
    margin-bottom: 0;
}

.vacancy__row .vacancy__section h3 {
    font-size: 24px;
    line-height: 35px;
    color: var(--color-w);
    font-weight: 600;
    margin-bottom: 15px;
}

.vacancy__row .vacancy__section p {
    font-size: 20px;
    line-height: 30px;
    color: var(--color-w);
}

.vacancy__row .vacancy__main {
    padding: 45px;
    background: #1C3B69;
    border-radius: 3px;
    height: min-content;
}

.vacancy__row .vacancy__main .item {
    margin-bottom: 50px;
}

.vacancy__row .vacancy__main .item:last-child {
    margin-bottom: 0;
}

.vacancy__row .vacancy__main .item .vacancy__item__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 116.18%;
    color: var(--color-w);
    opacity: .5;
    margin-bottom: 5px;
}

.vacancy__row .vacancy__main .item .vacancy__item__title {
    font-size: 35px;
    line-height: 116.18%;
    color: var(--color-w);  
    font-weight: 700;  
}

.resume__form .step:not(.active) {
    display: none;
}

.step__liner {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.step__liner .step__item {
    width: 240px;
    opacity: .5;
    cursor: pointer;
}

.step__liner .step__item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 116.18%;
    color: var(--color-w);
}

.step__liner .step__item span {
    background: #0475CA;
    border-radius: 20px;
    height: 13px;
    display: block;
    margin-top: 20px;
}

.step__liner .step__item.active {
    cursor: pointer;
}

.step__liner .step__item.done,
.step__liner .step__item.active  {
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.step__liner .step__item.done:hover,
.step__liner .step__item.active:hover {
 opacity: .8;
}

.step__liner .step__item.done span {
    background: #04CA3B;
}
.step .form__row .block {
    padding-top: 80px
}

.step .form__row .title p {
    font-size: 40px;
    line-height: 116.18%;
    color: var(--color-w);
}

.step .form__row .title {
    margin-bottom: 40px;
}

.step .form__row .subtitle {
    margin-bottom: 30px;
}

.step .form__row .subtitle p {
    font-size: 22px;
    line-height: 116.18%;
    color: var(--color-w);
}

.step .form__row .sub_block {
    margin-bottom: 15px;
}

.step .form__row .form__row__item {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;

    margin: 0 -15px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.step .form__row .row__input__list {
    display: block;
}

.step .form__row .row__input__list .item {
    margin-bottom: 20px;
}

.step .form__row .form__row__item .item {
    margin-bottom: 30px;
    width: 25%;
    padding: 0 15px 0;
}

.step .form__row .form__row__item .item:last-child {
    margin-right: 0;
}

.step .form__row .form__row__item .item input {
    background: #1C3B69;
    border: 1px solid #456493;
    border-radius: 3px;
    color: var(--color-w);
    padding: 14px 16px;
    width: 100%;
    font-size: 16px;
}

.step .form__row .block .sub_block:last-child .form__row__item .item {
    margin-bottom: 0;
}

.step:first-child .form__row .block:first-child .sub_block .form__row__item .item {
    margin-bottom: 30px;
}

.step .form__row .block .sub_block:last-child .item:nth-child(5) .add {
    margin-top: 30px;
}

.step a.btn {
    display: inline-block;
    margin-top: 50px;
}

::placeholder {
    color: var(--color-w);
}

.company .breadcrumbs ul li a, .company  .breadcrumbs ul li span {
    color: #2E2E43;
}

.company .breadcrumbs ul li:nth-last-child(1n+2):after {
    background-color: #2E2E43;
}

.company h1 {
    color: #2E2E43;
}

.company .reference__row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.company .reference__row .item {
    padding: 40px 40px;
    display: block;
    width: 430px;
    background-color: var(--color-w);
    margin-bottom: 37px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(63, 63, 63, 0.05);
}

.company .reference__row .item h2 {
    font-size: 18px;
    color: #2E2E43;
    font-weight: 300;
    line-height: 28px;
    -o-transition: ll .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.company .reference__row .item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3;
    left: 0;
    bottom: 0;
    border: 1px solid #0088CC;
    background-color: #0088CC;
    -o-transition: ll .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    transform: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.company .reference__row .item:hover h2 {
    color: var(--color-w);
    position: relative;
}

.company .reference__row .item:hover:before {
    height: 100%;
    border-radius: 3px;
}

.company .reference__content__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;   
}

.company .reference__content__row .content__text {
    width: 890px;
}

.company .reference__content__row .content__text p {
    font-size: 23px;
    line-height: 36px;
    margin-bottom: 30px;
    font-weight: 300;
}

.company .reference__content__row .content__text p:last-child {
    margin-bottom: 0;
}

.navigation-list .list_item {
    padding: 25px 40px;
    display: block;
    width: 420px;
    background-color: var(--color-w);
    margin-bottom: 45px;
    position: relative;
    border-radius: 3px;
}

.navigation-list .list_item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3;
    left: 0;
    bottom: 0;
    border: 1px solid #0088CC;
    background-color: #0088CC;
    -o-transition: ll .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    transform: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navigation-list .list_item:hover:before {
    height: 100%;
    border-radius: 3px;
}

.navigation-list .list_item h2 {
    font-size: 18px;
    color: #2E2E43;
    line-height: 28px;
    -o-transition: ll .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    font-weight: 300;
}

.navigation-list .list_item:hover h2 {
    color: var(--color-w);
}

.error__page {
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.error__page .error__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
}

.error__page .error__content .error__page__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 60px;
}

.error__page .error__content .error__page__text .block h1 {
    margin-bottom: 15px;
}

.error__page .error__content .error__page__text .block p {
    font-size: 24px;
    line-height: 35px;
    color: var(--color-w);
    margin-bottom: 43px;
}

.error__page .error__content .error__page__nums > span {
    font-weight: 800;
    font-size: 287.533px;
    line-height: 352px;
    color: #1C3B69;
}

.block_simple {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
}

.block_simple .block {
    width: 645px;
}

.block_simple .block p,
.block_simple .block li {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}

.block_simple .block ul {
    margin-top: 30px;
}

.wrap_block .company__stat {
    background-color: #102D57;
    padding: 70px;
    height: 540px;
    margin-bottom: 290px;
}

.wrap_block .company__stat .stat__row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 70px;
}

.wrap_block .company__stat .stat__row .item {
    width: 203px;
}

.wrap_block .company__stat .stat__row .item:last-child {
    margin-right: 0;
}

.wrap_block .company__stat .stat__row .item .item__title {
    font-size: 40px;
    line-height: 116.18%;
    font-weight: 800;
    color: var(--color-w);
    margin-bottom: 15px
}

.wrap_block .company__stat .stat__row .item .item__info {
    color: var(--color-w);
    font-size: 16px;
    line-height: 116.18%;   
}

.wrap_block .company__stat .video__block {
    position: relative; 
    height: 600px;
    width: 100%;
}

.wrap_block .company__stat .video__block video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;  
}

.wrap_block .company__stat .video__block .video__play {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 10;
    padding: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrap_block .company__stat .video__block .video__play:after {
    background-color: rgba(51, 51, 51, 0.49);
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}

.wrap_block .company__stat .video__block .video__play .title {
    font-weight: 800;
    font-size: 75px;
    color: var(--color-w);
    display: block;
    z-index: 10;
    display: block;
    position: relative;
}

.controls {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    z-index: 10;
    margin-top: 50px;
}

.controls p {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-w);
    margin-left: 18px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.controls span {
    width: 65px;
    height: 65px;
    background-color: #0475CA;
    display: block;
    border-radius: 50%;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.controls span:before {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 26px solid #fff;
    margin-left: 8px;
    content: '';
}

.documents {
    padding-top: 120px;
}

footer p, footer a {
    color: var(--color-w);
}

footer.nr-footer-menu {
    background-color: var(--color-w);
}

footer.nr-footer-menu p,
footer.nr-footer-menu a {
    color: #2E2E43;
}

footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .tricolor span {
    height: 10px;
    width: 100%;
    background-color: #102D57;
    display: block;
}

footer .tricolor span:nth-child(2n) {
    background-color: var(--color-w);
}

footer .tricolor span:nth-child(3n) {
    background-color: #E3000F;
}

footer .footer__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 35px;
}

footer .footer__row:last-child {
    margin-bottom: 0;
}

footer .footer__row .footer__menu .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .footer__row .footer__menu .footer__links li {
    margin-right: 50px;
}

footer .footer__row .footer__menu .footer__links :last-child {
    margin-right: 0;
}

footer .footer__row .footer__menu .footer__links li a {
    font-weight: 500;
    font-size: 16px;
}

footer .footer__row .footer__menu .footer__links li a:hover {
    opacity: .5;
}

footer .footer__row .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
}

footer .footer__row .footer__contacts .footer__phone {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
}

footer .footer__row .footer__info .footer__info__link {
    margin-bottom: 25px;
}

footer .footer__row .footer__info a {
    margin-right: 20px;
}

footer .footer__row .footer__info p,
footer .footer__row .footer__info a{
    opacity: .5;
}

footer .footer__row .footer__info a:hover {
    opacity: 1;
}

footer .footer__row .footer__text {
    text-align: right;
}

footer .footer__row .footer__text p:first-child {
    margin-bottom: 25px;
}

footer .developer a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -4px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: var(--color-w);
    -webkit-transition: width 0.5s ease 0s, left 0.5s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.5s ease 0s;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

footer.nr-footer-menu a:after {
    background: #2E2E43;
}

footer .developer a {
    font-weight: 600;
    position: relative;
}

footer .developer a:hover:after {
    width: 100%;
    left: 0;
}

.documents .slder__row {
    margin-top: 60px;
}

.documents .section-title {
    display: flex;
    justify-content: space-between;
}

.documents .slider .slider__item {
    max-height: 345px;
    height: -webkit-fill-available;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: 30px;
    cursor: pointer;
}

.documents .slider .slider__item img {
    width: 100%;
    height: 345px;
    object-fit: cover;
}

.documents .btn-nav {
    display: flex;
}

.documents .btn-nav a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #EAEDF0;
    display: flex;
    align-items: center;
    margin-left: 15px;
    transition: .2s;
}

.documents .btn-nav a:hover {
    background-color: #0475CA;
}

.documents .btn-nav a:active {
    opacity: .5;
}

.documents .btn-nav a svg {
    fill:  #0475CA;
    stroke: #0475CA;
}

.documents .btn-nav a:hover svg {
    fill:  var(--color-w);
    stroke: var(--color-w);
}

.documents .btn-nav a svg {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Временное */

.widget {
    padding: 10px 50px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #B02A05;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.widget .widget__row {
    position: relative;
}

.widget .widget__row .btn-cloce {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
        position: relative;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
        position: relative;
    }    
}

@media (min-width: 1000px) {
    nav .nav__burger {
        display: none;
    }
}

@media (max-width: 1000px) {

    .btn {
        display: inline-block;
        padding: 16px 20px;
        font-size: 14px;
        line-height: 17px;
    }

    body.menu-open {
        overflow: hidden;
    }

    nav {
        height: 60px;
    }

    nav .logo {
        width: 70px;
    }

    nav .logo img {
        width: 100%;
    }

    nav .nav__content .container:after,
    nav .nav__close  {
        display: none;
    }

    nav .nav__close {
        width: 32px;
        height: 32px;
        display: block;
        background-color: #1C3B69;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    nav .nav__close .cross {
        height: 32px;
    }

    nav .nav__content .container .nav__block {
        position: fixed;
        top: 60px;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #102D57;
        padding: 23vw 4vw;
        transition: ease-in-out .1s;
        overflow: auto;
        z-index: 9999;
    }

    nav .nav__content .nav__links li a {
        font-weight: 600;
        color: var(--color-w);
        font-size: 32px;
        line-height: 32px;
    }

    nav .nav__content .nav__links li {
        height: auto;
        margin-bottom: 30px;
        margin-right: 0;
    }

    nav .nav__content .nav__links li:last-child {
        margin-bottom: 0;
    }

    nav .nav__content .nav__links {
        display: block;
    }

    nav .nav__content .nav__tools a {
        color: var(--color-w);
        font-size: 36px;
        line-height: 32px;
        font-weight: 700;
        margin-top: 50px;
        display: block;
    }

    .main__header {
        height: auto;
    }

    .main__header .container .title__row {
        display: block;
    }

    .main__header .title h1 {
        font-weight: 800;
        font-size: 45px;
        line-height: 60px;
    }

    .main__header .header__block {
        margin-top: 50px;
    }

    .main__header .title,
    .main__header .header__block {
        width: 100%;
    }

    .main__header .header__block p {
        font-size: 16px;
        line-height: 23px;
    }

    .inner__header {
        position: relative;
        bottom: 0;
        margin-top: 80px;
        padding-bottom: 40px;
    }

    .main__header, .inner__header .services__header {
        display: block;
    }

    .inner__header .services__header {
        padding: 20px;
    }

    .inner__header .services__header .item {
        width: 100%;
    }

    .inner__header .services__header .item {
        margin-bottom: 15px;
    }

    .inner__header .services__header .item:last-child {
        margin-bottom: 0;
    }

    .inner__header .services__header p {
        text-align: left;
        font-size: 16px;
        line-height: 22px;
    }

    .demands {
        padding: 50px 0;
    }

    .demands .demands__block {
        width: 100%;
        padding: 35px 20px;
    }
    
    .demands .demands__block p {
        font-size: 16px;
        line-height: 23px;
    }

    .demands span {
        display: none;
    }

    .contacts .container {
        display: block;
        padding: 0;
    }

    .contacts .contacts__block .item .title {
        font-size: 20px;
        line-height: 24px;
    }

    .contacts .contacts__block .item .title .info{
        font-size: 16px;
        line-height: 19px;
    }

}
