* {
    font-family: Gilroy;
    background-size: cover;
    font-style: normal;
    font-weight: normal;
    color: #2E2E43;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    -o-transition: ll .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

h1 {
    font-size: 57px;
    line-height: 116.18%;
    color: #fff;
    font-weight: 700;
}

ol, ul {
    list-style-type: none;
}

select {
    background: url(../icons/select.svg) right .75rem center no-repeat #1C3B69;
    font-size: 16px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #456493;
    padding: 14px 16px;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 116.18%;
    cursor: pointer;
}

select option {
    color: #fff;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #0475CA;
    border-radius: 3px;
    color: #fff;
    padding: 16px 32px;
    display: inline-block;
}

.btn:hover {
    background-color: #078AEC;
}

.btn:active {
    background-color: #035FA5;
}

.btn-reset {
    font-size: 16px;
    line-height: 116.18%;
    color: #fff;
    position: relative;
}

.btn-reset:before {
    background: url(../icons/reset.svg) center no-repeat;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    display: block;
    left: -24px;
    top: 20%;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-reset:hover:before {
    -webkit-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    transform: rotate(100deg);
}

nav {
    background: rgba(255, 255, 255, 0.7);
    height: 88px;
    position: absolute;
    width: 100%;
    z-index: 999999;
}

nav .nav__content .container:after {
    background: url(../icons/tricolor.svg) center no-repeat;
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    right: -100px;
}

nav .nav__content .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

nav .nav__content .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav .nav__content .nav__links li {
    margin-right: 65px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav .nav__content .nav__links li:last-child {
    margin-right: 0;
}

nav .nav__content .nav__links li a {
    font-weight: 500;
    font-size: 15px;
}

nav .nav__content .nav__tools a {
    font-weight: 500;
    font-size: 17px;
}

.main__header {
    background-image: url(../img/bg.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs ul {
    display: flex;
    flex-flow: row wrap;
}

.breadcrumbs ul li {
    position: relative;
}

.breadcrumbs ul li a,
.breadcrumbs ul li span {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    color: #fff;
}

.breadcrumbs ul li span {
    opacity: .5;
}

.breadcrumbs ul li a:hover {
    opacity: .5;
}

.breadcrumbs ul li:nth-last-child(1n+2):after {
    content: '';
    background: url(../icons/ellipse.svg) center no-repeat;
    display: inline-block;
    position: relative;
    height: 10px;
    margin: 0 10px;
    width: 10px;
    top: 0;
}

.main__header .container {
    width: 100%;
}

.main__header .container .title__row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-between;    
}

.main__header .title {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}


.main__header .title h1 {
    color: #fff;
    font-weight: 800;
    font-size: 95px;
    line-height: 116.18%;
}

.main__header .header__block {
    width: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.main__header .header__block p {
    color: #fff;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 25px;
}

.map {
    height: 860px;
    width: 100%;
    position: relative;
}
.inner__header {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.inner__header .services__header {
    background: rgba(0, 93, 163, 0.7);
    border-radius: 3px;
    padding: 31px 0; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner__header .services__header .item {
    margin: auto; 
    width: 50%;
}

.inner__header .services__header p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; 
    color: #fff;
    text-align: center;
}

.demands {
    padding: 80px 0;
    background-color: #F7F7F7;
}

.demands {
    position: relative;
    overflow: hidden;
}

.demands span {
    position: absolute;
    display: flex;
    top: 0;
}

.demands span p {
    font-weight: 800;
    font-size: 594.866px;
    line-height: 116.18%;
    color: #f7f7f7;
    opacity: .8;
    -webkit-text-stroke: 2px  #005DA3;
    -webkit-text-fill-color: #f7f7f7;
    z-index: 0;
    margin: 0 50px;  
}

.demands .demands__block {
    padding: 46px 60px;
    position: relative;
    width: 754px;
    background-color: #fff;
    margin-left: auto;
    z-index: 99999;
}

.demands .demands__block p {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 40px
}

.work__content {
    padding: 120px 0;
    background: #102D57;
}

.work__content .work__title {
    margin-top: 74px;
}

.work__filters .work__filter__row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.work__filter__row .filter__cell {
    width: 316.66px;
    margin-bottom: 30px;
}

.work__filters .work__filers__btn {
    text-align: end;
    margin-bottom: 32px;
}

.work__list__content {
    margin-top: 70px;
}

.work__list__content .work__list__sort {
    padding: 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.work__list__content .work__list__sort .sort__item p {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 116.18%;
    text-transform: uppercase;
}

.work__list__content .work__list__sort .sort__item:first-child,
.work__list .work__item .title {
    width: 594px;
}

.work__list__content .work__list__sort .sort__item:nth-child(2),
.work__list .work__item .sort__item:nth-child(2) {
    width: 308px;
}

.work__list__content .work__list__sort .sort__item:nth-child(3),
.work__list .work__item .sort__item:nth-child(3) {
    width: 295px;
}

.work__list {
    margin-top: 20px;
}

.work__list .work__item {
    padding: 25px 45px;
    background: #1C3B69;
    border-radius: 3px;
    width: 100%;
    display: block;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.work__list .work__item:last-child {
    margin-bottom: 0;
}

.work__list .work__item:hover {
    background: #0475CA;
    box-shadow: 0px 0px 15px rgba(0, 120, 214, 0.5);
}

.work__list .work__item:hover .sort__item p {
    opacity: 1;
}

.work__list .work__item .title h2 {
    color: #fff;
    font-size: 20px;
    line-height: 116.18%;
    font-weight: 600;
}

.work__list .work__item .title p {
    font-weight: 300;
    font-size: 14px;
    line-height: 116.18%;
    color: #fff;
    opacity: .5;
    margin-top: 3px;
}

.work__list .work__item .sort__item p {
    opacity: .5;
    color: #fff;
    font-size: 20px;
    line-height: 116.18%;
    font-weight: 300;
    -o-transition: ll .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.work__list .work__list__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.vacancy__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
}

.vacancy__row .vacancy__text {
    width: 890px;
}

.vacancy__row .vacancy__section {
    margin-bottom: 50px;
}

.vacancy__row .vacancy__section:last-child {
    margin-bottom: 0;
}

.vacancy__row .vacancy__section h3 {
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.vacancy__row .vacancy__section p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.vacancy__row .vacancy__main {
    padding: 45px;
    background: #1C3B69;
    border-radius: 3px;
    height: min-content;
}

.vacancy__row .vacancy__main .item {
    margin-bottom: 50px;
}

.vacancy__row .vacancy__main .item:last-child {
    margin-bottom: 0;
}

.vacancy__row .vacancy__main .item .vacancy__item__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 116.18%;
    color: #fff;
    opacity: .5;
    margin-bottom: 5px;
}

.vacancy__row .vacancy__main .item .vacancy__item__title {
    font-size: 35px;
    line-height: 116.18%;
    color: #fff;  
    font-weight: 700;  
}

.step__liner {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px;
}

.step__liner .step__item {
    width: 258px;
}

.step__liner .step__item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 116.18%;
    color: #fff;
}

.step__liner .step__item span {
    background: #0475CA;
    border-radius: 20px;
    height: 13px;
    display: block;
    margin-top: 20px;
}

.step__item.active {
    cursor: pointer;
}

.step__item.active span {
    background: #04CA3B;
}

.step__item:not(.active) {
    opacity: .5;
}

.step .form__row .title  {
    margin-bottom: 40px;
}

.step .form__row .title p {
    font-size: 40px;
    line-height: 116.18%;
    color: #fff;
}


.step .form__row .subtitle p {
    font-size: 22px;
    line-height: 116.18%;
    color: #fff;
    margin-bottom: 30px;
}

.step .form__row .form__row__item .item {
    
}

.step .form__row .form__row__item {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.step .form__row .form__row__item .item input {
    background: #1C3B69;
    border: 1px solid #456493;
    border-radius: 3px;
    color: #fff;
    padding: 14px 16px;
    width: 316.66px;
    margin-bottom: 30px;
    font-size: 16px;
}

::placeholder {
    color: #fff;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}


